/* Layout utama dashboard */
.dashboard {
  display: flex;
}

/* Styling untuk sidebar */
.sidebar {
  width: 250px;
  background-color: #002347;
  padding: 20px;
  height: 100vh;
  color: #fff;
  position: fixed; /* Tambahkan ini untuk menjaga sidebar tetap di tempat */
  top: 0;
  left: 0;
  overflow-y: hidden; /* Pastikan sidebar tidak di-scroll */
}

/* Styling untuk isi konten */
.content {
  flex: 1;
  margin-left: 250px; /* Sesuaikan dengan lebar sidebar */
  background-color: white; 
  padding: 20px;
  height: 100vh;
  overflow-y: auto; /* Hanya konten yang dapat di-scroll */
}

.content-no-background {
  padding: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
}

/* Styling untuk teks */
h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #000;
}

p {
  font-size: 1.2em;
  line-height: 1.6;
  max-width: 600px;
  color: #000;
}

/* Styling untuk link di sidebar */
.sidebar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.sidebar a:hover {
  color: #ffcc00;
}

/* Styling untuk icon di sidebar */
.sidebar i {
  margin-right: 10px;
}

/* Styling untuk item menu di sidebar */
.menu li {
  margin: 10px 0;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px; 
  transition: all 0.3s ease;
}

.menu li:hover {
  color: #ffcc00;
  background-color: #003366;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

/* style.css */

/* Navbar Styling */
.navbar.user {
  background-color: #007bff; /* Warna Biru */
  padding: 10px 20px;
  border-bottom: 2px solid #0056b3; /* Warna garis bawah navbar */
}

/* Navbar Items */
.navbar-item {
  color: #fff; /* Teks putih pada item navbar */
}

.navbar-item:hover {
  color: #ffd700; /* Warna kuning saat hover */
  text-decoration: underline;
}

/* Dropdown Menu */
.navbar-item.has-dropdown:hover .navbar-dropdown {
  display: block;
}

.navbar-dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 100;
}

/* Dropdown Item Styling */
.navbar-dropdown .navbar-item {
  padding: 10px;
  color: #333; /* Warna teks item dropdown */
}

.navbar-dropdown .navbar-item:hover {
  background-color: #ffd700; /* Warna kuning saat hover pada item dropdown */
  color: #333; /* Teks dropdown menjadi gelap saat hover */
}
